<h1><%= @header %></h1>

<%= bootstrap_form_for(@user) do |f| %>
	<h3>Name: <small><%= @user.name %></small></h3>
	<h3>Username: <small><%= @user.username %></small></h3>

  <% if has_right?(:user_edit) %>
    <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %>
  <% end %>
  <%= link_to "Cancel", users_path, :class => 'btn btn-default' %>
<% end %>
